* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}
.mainContainer {
  flex-wrap: wrap;
}

.items {
  /* border: 1px solid blue; */
  background-color: white;
  /* border: 2px solid #f79210; */
  border-radius: 6px;
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
}

.items-row {
  border-top: 1px solid gray;
}
.column {
  height: 400px;
  background-color: blue;
}
.items .card-header {
  /* background-color: #f79210; */
  border-radius: 6px 6px 0 0 !important;
  border: 1px solid rgb(0, 0, 0, 0.175);
  background-color: #ffcc8a !important;
}
.card-header:first-child {
  background-color: #ffcc8a;
}
.q-text {
  margin-top: -12px;
}
.innercols {
  height: 190px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.total-cost {
  background-color: #ffcc8a;
}

.cart-img {
  height: 180px;
  width: 180px;
}
.mainContainer button {
  background-color: #ffcc8a;
  padding: 5px 12px;
  font-weight: bolder;
  border-radius: 6px;
  border: none;
}
.mainContainer button:hover,
.mainContainer .btn:hover {
  background-color: #f79210;
}

.mainContainer .btn {
  background-color: #ffcc8a;
}

.mainContainer .quantity {
  /* border: 2px solid #f79210; */
  padding: 8px 25px;
  font-size: 14px;
}

/* CSS FOR CARTPAGE VIDEO */
.container-products {
  max-width: 650px;
  justify-content: space-around;
  margin: 0 auto;
  margin-top: 50px;
}

.container-products i {
  font-size: 25px;
  color: blue;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.product-header {
  width: 100%;
  /* max-width: 650px; */
  display: flex;
  justify-content: flex-start;
  border-bottom: 4px solid lightgray;
  margin: 0 auto;
}

.product-title {
  width: 45%;
}

.price {
  width: 15%;
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: center;
}

.quantity {
  width: 30%;
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: center;
}

.total {
  width: 10%;
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: center;
}

.product {
  width: 45%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid lightgray;
}

.product i {
  cursor: pointer;
}

.products {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.products img {
  width: 75px;
}

.basketTotalContainer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 10px 0;
}

.basketTotalTitle {
  width: 30%;
}

.basketTotal {
  width: 10%;
}

@media (max-width: 500px) {
  nav h2 {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }

  .sm-hide {
    display: none;
  }

  .products,
  .product-header {
    justify-content: center;
  }

  .basketTotalContainer {
    padding-right: 8%;
  }
}

@media only screen and (max-width: 600px) {
  .cart-img {
    height: 120px;
    width: 120px;
  }
  .items-row {
    flex-direction: column;
    gap: 15px;
    padding: 10px;
  }
  .summary {
    padding: 0px 60px;
  }
}
