* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}
.mainContainer {
  flex-wrap: wrap;
}

.items {
  /* border: 1px solid blue; */
  background-color: white;
  /* border: 2px solid #f79210; */
  border-radius: 6px;
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
}

.items-row {
  border-top: 1px solid gray;
}
.column {
  height: 400px;
  background-color: blue;
}
.items .card-header {
  /* background-color: #f79210; */
  border-radius: 6px 6px 0 0 !important;
  border: 1px solid rgb(0, 0, 0, 0.175);
  background-color: #ffcc8a !important;
}
.card-header:first-child {
  background-color: #ffcc8a;
}
.q-text {
  margin-top: -12px;
}
.innercols {
  height: 190px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.total-cost {
  background-color: #ffcc8a;
}

.cart-img {
  height: 170px;
  /* width: 180px; */
}
.mainContainer button {
  background-color: #ffcc8a;
  padding: 5px 12px;
  font-weight: bolder;
  border-radius: 6px;
  border: none;
}
.mainContainer button:hover,
.mainContainer .btn:hover {
  background-color: #f79210;
}

.mainContainer .btn {
  background-color: #ffcc8a;
}

.mainContainer #quantity {
  /* border: 2px solid #f79210; */
  padding: 8px 25px;
  font-size: 14px;
  font-weight: bold;
}

.mainContainer .total{
  font-size: 17px;
}
